<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" (click)="usuarioDetails()">
            <mat-icon>info</mat-icon>
        </a>
    </div>
    <mat-card class="example-card">
        <form [formGroup]="usuarioForm" (ngSubmit)="onFormSubmit(usuarioForm.value)">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nome" formControlName="nome" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!usuarioForm.get('nome').valid && usuarioForm.get('nome').touched">Please
                        enter usuario Name</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Endereço" formControlName="endereco" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!usuarioForm.get('endereco').valid && usuarioForm.get('endereco').touched">Please
                        enter usuario Endereço</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Perfil" formControlName="perfil" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!usuarioForm.get('perfil').valid && usuarioForm.get('perfil').touched">Please
                        enter usuario Price</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Login" formControlName="login" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!usuarioForm.get('login').valid && usuarioForm.get('login').touched">Please
                        enter usuario Login</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Senha" formControlName="senha" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!usuarioForm.get('senha').valid && usuarioForm.get('senha').touched">Please
                        enter usuario Endereço</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row">
                <button type="submit" [disabled]="!usuarioForm.valid" mat-flat-button color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </form>
    </mat-card>
</div>